github "ZipArchive/ZipArchive" == 2.1.1
github "cxa/MenuItemKit"
github "alexpopov/ZFDragableModalTransition" "merge-carthage-into-zoonooz"
github "tadija/AEXML"
github "realm/realm-cocoa"
github "Kitura/swift-html-entities"